@import url('reset.css');

body {
  background: #ccc;
  color: #333;
  font-family: helvetica, sans-serif;
  font-size: 16px;
}

#wrapper {
  width: 960px;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
}

h2, h3, p, form {
  float: left;
}

p#date {
  margin: 6px 0 0 10px;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  padding: 3px 0 2px;
}

form {
  width: 960px;
}

form p {
  width: 960px;
}

h3 {
  font-weight: bold;
  font-size: 14px;
  padding: 2px 0;
}

p {
  font-size: 12px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
